.about-section {
  @apply w-full flex flex-col lg:flex-row pt-10 md:mt-20 lg:mt-0 px-10 lg:p-10 xl:px-0 gap-8 xl:gap-4 text-white;
}

.about-left {
  @apply w-full flex flex-col gap-10 lg:w-1/2;
}

.about-heading {
  @apply flex items-center gap-4;
}

.about-title {
  @apply text-xl md:text-4xl font-semibold lg:leading-[3rem] text-white tracking-wide;
}

.about-line {
  @apply w-48 md:w-80 h-[2px] bg-primary;
}

.about-content {
  @apply flex flex-col gap-4 lg:gap-8 w-full md:w-[80%] lg:w-[90%];
}

.about-paragraph {
  @apply text-sm md:text-lg text-white text-opacity-50;
}

.about-button-wrapper {
  @apply flex;
}

.about-button {
  @apply bg-transparent border-[1px] border-primary text-white py-2 px-4 hover:bg-primary hover:bg-opacity-50 hover:duration-300;
}

.about-right {
  @apply flex flex-col justify-center items-center lg:w-1/2;
}

.about-image-wrapper {
  @apply xl:relative h-full w-[90%] lg:w-full flex justify-center items-center;
}

.about-image {
  @apply md:p-10 lg:p-5 xl:p-10;
}
