.intro-section {
  @apply w-full flex flex-col lg:flex-row pt-10 md:mt-20 lg:mt-0 lg:py-4 xl:gap-4 xl:h-[550px] text-white;
}

.intro-left {
  @apply w-full flex justify-center items-center gap-4 lg:w-1/2;
}

.intro-text-wrapper {
  @apply flex flex-col gap-4 lg:gap-8 w-[80%];
}

.intro-title {
  @apply text-xl md:text-4xl font-semibold lg:leading-[3rem];
}

.intro-highlight {
  @apply text-primary;
}

.intro-description {
  @apply text-sm md:text-lg text-white text-opacity-50;
}

.intro-button-wrapper {
  @apply flex;
}

.intro-button {
  @apply bg-transparent border-[1px] border-primary text-white py-2 px-4 hover:bg-primary hover:bg-opacity-50 hover:duration-300;
}

.intro-right {
  @apply flex flex-col justify-center items-center lg:w-1/2;
}

.intro-image-container {
  @apply xl:relative h-full w-[90%] lg:w-full flex justify-center items-center;
}

.intro-banner {
  @apply flex justify-center items-center border-[1px] border-white bg-secondary z-0 px-4 md:px-20 lg:px-10 relative -top-10 lg:-top-5 xl:left-5;
}

.intro-banner-bar {
  @apply lg:h-1/2 p-2 border-white border-[1px] bg-primary;
}

.intro-banner-text {
  @apply text-white text-opacity-50 py-2 px-4 text-sm lg:text-base;
}

.quote-section {
  @apply w-full flex justify-center items-center bg-secondary xl:h-[300px];
}

.quote-image {
  @apply w-[90%] lg:w-[70%];
}
