.header-container {
  @apply w-full transition-all duration-500 ease-in-out;
}
.header-nav {
  @apply flex items-center justify-between h-16 lg:h-28 w-full px-5 lg:px-10 xl:px-0 bg-transparent;
}

.header-logo-container {
  @apply flex items-center;
}

.menu-toggle {
  @apply text-white text-2xl focus:outline-none lg:hidden;
}

.menu-container {
  @apply lg:flex lg:items-center lg:w-auto absolute lg:static top-16 right-0  w-full lg:bg-transparent transition-transform duration-300 bg-secondary z-[999] h-full;
}

.menu-links {
  @apply flex flex-col lg:flex-row lg:justify-end 2xl:gap-16 lg:gap-10 p-5 lg:pr-10 lg:ml-auto gap-4;
}

.menu-link {
  @apply relative border-b-2 lg:border-none text-white text-opacity-50 hover:text-opacity-100 hover:duration-200 tracking-wide md:tracking-normal md:text-xl font-medium block py-2 lg:py-0;
}
.menu-link-active {
  @apply text-white;
}
.header-icons {
  @apply flex flex-col items-center gap-2;
}

.header-icon {
  @apply hover:invert hover:brightness-0 hover:duration-300 cursor-pointer transition-transform transform hover:scale-110;
}
